[submodule "deps/CondorHelper"]
	path = deps/CondorHelper
	url = git@github.com:ecatanzani/CondorHelper.git
[submodule "deps/AnyOption"]
	path = deps/AnyOption
	url = git@github.com:hackorama/AnyOption.git
